INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache*
compile
config.*
configure
depcomp
install-sh
ltmain.sh
intltool-*
missing
stamp-h1
*~
*.o
*.lo
*.la
*.loT
libtool
.deps
.libs
*-glue.h
*.tar.bz2
org.freedesktop.ModemManager.service
org.freedesktop.ModemManager.conf
ModemManager.pc
marshallers/mm-marshal.[ch]
src/modem-manager
docs/spec.html
callouts/mm-modem-probe
test/lsudev
src/tests/test-modem-helpers
policy/org.freedesktop.modem-manager.policy

libqcdm/tests/test-qcdm

po/Makefile.in.in
po/POTFILES
po/stamp-it
po/.intltool-merge-cache
po/ModemManager.pot

m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4
