INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache*
compile
config.*
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
*~
*.o
*.lo
*.la
*.loT
libtool
.deps
.libs
*-glue.h
org.freedesktop.ModemManager.service
ModemManager.pc
marshallers/mm-marshal.[ch]
src/modem-manager
docs/spec.html
callouts/mm-modem-probe

