INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache*
compile
config.*
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
*~
*.o
*.lo
*.la
*.loT
libtool
.deps
.libs
*-glue.h
*.tar.bz2
org.freedesktop.ModemManager.service
ModemManager.pc
marshallers/mm-marshal.[ch]
src/modem-manager
docs/spec.html
callouts/mm-modem-probe
test/lsudev
src/tests/test-modem-helpers

m4/gtk-doc.m4
m4/intltool.m4
m4/libtool.m4
m4/lt*.m4
